@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Inter", sans-serif; */
/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Spectral', serif; */

.bg-dashboard {
  background: url("../../public/images/dashboard-bg-img-01.svg");
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.bg-auth {
  background: url("../../public/images/auth-bg.svg");
  background-position: top center;
  background-size: cover;
}
